---
/*
About Page
*/

import RootLayout from "../layouts/RootLayout.astro";
import Page from "../layouts/Page.astro";
---

<RootLayout>
	<Page title="About">

		<p>About this app, testing PWA</p>
		<p>Updated?</p>

	</Page>
</RootLayout>
