---
/*
Common Layout at the root of all pages
*/

---



<header>

    <div id="nav" transition:persist>

        <a href="/">
            <button class="btn">Home</button>
        </a>
        <a href="/about">
            <button class="btn" >About</button>
        </a>
    
    </div>  

</header>
